<div class="container">

  <h2>Add Comment to Current Topic</h2>


  <form actions="/show_all_posts/<%= params[:id] %>/add_comment" method="post">
    <div class="input-row">
      <label for="post">Comment: </label>
      <textarea name="add_new_comment"></textarea>
    </div>
      <div class="input-row">
      <input type="submit" value="Submit New Comment!" />
    </div>
  </form>

</div>