<div>

  <h1>Add Comment</h1>

  <form actions="/read/<%= params[:id] %>/add_comment" method="post">
   <!--  <label for="title">Topic: </label><br> -->
    <!-- <input type="title" name="title" /><br> -->
    <label for="post">Comment: </label><br>
    <textarea name="post"></textarea><br>
    <input type="submit" value="Submit New Comment!" />
  </form>

</div>