<div>

  <h1>Add Comment to topic</h1>

  <form actions="/show_all_posts/<%= params[:id] %>/add_comment" method="post">

    <label for="new_topic">Comment: </label><br>
    <textarea name="new_topic"></textarea><br>
    <input type="submit" value="Submit New Comment!" />

  </form>

</div>