<div class="container">

<h2>ALL TOPICS</h2>
<div>
  <!-- select all from posts sort by upvote -->
	  <% @order_by_upvotes.each do |all| %>

	    <ul>
	    	<h3><a href="/individual_topic/<%=all['id']%>">Topic: <%="#{all['title']}"%> has <%="#{all['upvote']}"%> Upvotes.</a></h3>
	    </ul>

	  <% end %>
  </div>
</div>