<div class="container">

<h4>POPULAR TOPICS</h4>
<div>
  <!-- select all from posts sort by upvote -->
	  <% @order_by_upvotes.each do |all| %>

	    <ul>
	    	<h6><a href="/individual_topic/<%=all['id']%>">Topic: <%="#{all['title']}"%> has <%="#{all['upvote']}"%> Upvotes.</a></h6>
	    </ul>

	  <% end %>
  </div>
</div>