<h2>ALL TOPICS</h2>
<div>
  <!-- select all from posts sort by upvote -->
  <% @order_by_upvotes.each do |all| %>

    <ul><a href="/individual_topic/<%=all['id']%>"><%="#{all['title']}"%> has <%="#{all['upvote']}"%> Upvotes.</a></ul>

  <% end %>
</div>