<div class="container">

<h1>Welcome</h1>

<h3>Please <a href="/login">log in</a> or <a href="/signup">sign up</a> to post.</h3>

<h3>You can also log in as <strong>guest</strong> using 123 as your password</h3>

</div>
