<h1>Welcome</h1>

<h3></h3>

<a href="/all_topics">All Topics</a><br>
<a href="/show_all_posts">Recent Comments</a><br>
<a href="/new_topic">Post New Comment</a><br>
<a href="/signup">Sign Up!</a><br>
<a href="/login">Log In!</a><br>

