<div class="container">

<h2>Welcome</h2>

<h5>Please <a href="/login">log in</a> or <a href="/signup">sign up</a> to post.</h5>

<h5>*You can also log in as <strong>guest</strong> using <strong>123</strong> as your password</h5>

</div>
