<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>PROJECT 2</title>
  <link href='https://fonts.googleapis.com/css?family=Bangers' rel='stylesheet' type='text/css'>
  <link href="/css/style.css" rel="stylesheet" type="text/css">
  <link href="/css/normalize.css" rel="stylesheet" type="text/css">
  <link href="/css/skeleton.css" rel="stylesheet" type="text/css">
</head>
<body>
  <div class="header"> Header? </div>
    <div class="container">
      <%= yield %>
    </div>
  <div class="footer">
    <a href="/show_all_posts">Recent Comments</a>
    <a href="/new_topic">Post New Comment</a>
    <a href="/signup">Sign Up!</a>
    <a href="/login">Log In!</a>
  </div>
</body>
</html>