<h2>Thank you for logging in, <%= current_user['name']%></h2>

<a href="/show_all_posts">All posts</a><br>
<a href="/new_topic">Post New Comment</a><br>

<!-- may not need anymore.. delete if not in use -->