<div>

  <h1>New Topic/Comment</h1>

  <form actions="/new_topic" method="post">
    <label for="title">Topic: </label><br>
    <input type="title" name="title" /><br>
    <label for="post">Comment: </label><br>
    <textarea name="post"></textarea><br>
    <input type="submit" value="Submit Post!" />
  </form>

</div>