<!-- post new topic -->
<div class="container">

  <h2>Post A New Topic</h2>

  <form actions="/new_topic" method="post">
    <div class="input-row">
        <label for="title">Topic: </label>
        <input type="title" name="title" />
    </div>

    <div class="input-row">
        <label for="post">Comment: </label>
        <textarea name="new_topic"></textarea>
    </div>

    <div class="input-row">
        <input type="submit" value="Submit Post!" />
    </div>
  </form>

</div>