<div>

  <h1>POST COMMENT</h1>

  <form actions="/comment" method="post">
    <label for="topic">Topic: </label><br>
    <input type="topic" name="topic" /><br>
    <label for="comment">Comment: </label><br>
    <textarea name="comment"></textarea><br>
    <input type="submit" value="Submit Comment!" />
  </form>

</div>