<div class="container">

<h2>Thanks for sigining up! <%= current_user['name']%></h2>

Please check out some <a href="/show_all_posts">recent comments</a><br>
Or feel free to <a href="/new_topic">post a new comment</a><br>

</div>