<div class="container sign">

<% if @error %>
<div>
  <h2><%= @error %></h2>
</div>
<% end %>

<div>

  <h4>SIGN UP TO POST</h4>

  <form actions="/signup" method="post">

    <div class="input-row">
        <label for="name">User Name</label>
        <input type="text" name="name" />
    </div>

    <div class="input-row">
        <label for="email">Email</label>
        <input type="email" name="email" />
    </div>

    <div class="input-row">
        <label for="password">Password</label>
        <input type="password" name="login_password" />
    </div>

    <div class="input-row">
        <input type="submit" value="Submit" />
    </div>

  </form>

</div>
</div>