<div>

  <h2>Please signup to post!</h2>

  <form actions="/signup" method="post">

    <div class="input-row">
        <label for="name">Name: </label>
        <input type="text" name="name" />
    </div>

    <div class="input-row">
        <label for="email">Email: </label>
        <input type="email" name="email" />
    </div>

    <div class="input-row">
        <label for="password">Password: </label>
        <input type="password" name="login_password" />
    </div>

    <div class="input-row">
        <input type="submit" value="Submit!" />
    </div>

  </form>

</div>